html,body{
    height:  100%;
    width:   100%;
    display: flex;
    overflow:hidden;
    margin:0;
    padding:0;

}
body,.list,.content{
    flex-direction: column;
}
.header,a,.list,.footer,h1{
    display:flex;
    flex:1 1 auto;
    margin:5px;
    padding: 0;
    border: 1px dashed red;
}

.content{
    overflow: scroll;
    display:flex;
    flex:0 0 auto;
    margin:0;
    padding: 0;
    border: 1px dashed red;
}

.footer{
    justify-content: center;
}
h1{
    display: flex;
    flex: 0 0 auto;

}