html,body{
    height:  100%;
    width:   100%;
    display: flex;
    margin:0;
    padding:0;

}
body,.list,.content{
    flex-direction: column;
}
.header,a,.list,.footer,h1{
    display:flex;
    flex:1 1 auto;
    margin:10px;
    padding:0;
}

.content{
    height:80%;
    overflow: scroll;
    display:flex;
    flex:0 0 auto;
    margin:10px;
    padding:10px;
}

.footer{
    justify-content: center;
}
h1{
    display: flex;
    flex: 0 0 auto;

}