html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
}

.list, .content {
    flex-direction: column;
}
.list{
    list-style-type: none;
}
.header, a, .list, .footer, h1 {
    display: flex;
    margin: 10px;
    padding: 0;
}

.content {
    display: flex;
    flex: 1;
    margin: 10px;
    overflow-y: auto;
    padding: 10px;
}

.footer {
    justify-content: center;
}

h1 {
    display: flex;
    flex: 0 0 auto;

}

.header {
    overflow: visible;
    justify-content: center;
}